body{
    background-color: #0d3b66;
   font-family: "Sekuya", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
color: white;
}


img{
    height: 564px; 
    width: 400px;
}


.lado{
    display: flex;         
      align-items: center;     
      gap: 50px;  
}
.botao {
    position: fixed;
    top: 15px;
    left: 25px;
    text-decoration: none;
    font-size: 20px;
    color: #fff;
    background: #150b9e98;
    padding: 8px 12px;
    border-radius: 6px;
    transition: 0.3s;
}